<launch>
  <arg name="publish_tf" default="false" />
  <arg name="px" default="0.0" />
  <arg name="py" default="0.0" />
  <arg name="pz" default="0.0" />
  <arg name="rx" default="0.0" />
  <arg name="ry" default="0.0" />
  <arg name="rz" default="0.0" />
  <arg name="use_grab_frame" default="true" />
  <arg name="phasespace_pc" default="phasespace-pc" />
  <arg name="n_sensor" default="2" />
  <arg name="rigid_file0" default="pen4.rb"/>
  <arg name="rigid_file1" default="pen5.rb"/>
  

  <node pkg="phasespace" type="phasespace_node" name="phasespace_driver" output="screen" >
    <param name="publish_tf"  value="$(arg publish_tf)" />
    <param name="pivot_x" value="$(arg px)" />
    <param name="pivot_y" value="$(arg py)" />
    <param name="pivot_z" value="$(arg pz)" />
    <param name="attach_roll" value="$(arg rx)" />
    <param name="attach_pitch" value="$(arg ry)" />
    <param name="attach_yaw" value="$(arg rz)" />
    <param name="phasespace_pc" value="$(arg phasespace_pc)" />
    <param name="n_sensor" value="$(arg n_sensor)" />
    <param name="rigid_file0" value="$(arg rigid_file0)" />
    <param name="rigid_file1" value="$(arg rigid_file1)" />
  </node>

</launch>
